.social-media {
  display: flex;
  margin-left: 50px;
  margin-bottom: 30px;
  padding: 0;
  flex-direction:row; /* Arrange items line by line */
  gap: 8px; /* Slightly reduce space between each line */
}

.contact{
  text-align: center;
  font-family: Poppins,sans-serif;
  font-weight: 400;
  font-size: x-large;
  color: rgb(255, 255, 255);
  margin-left: 10px;
}

.social-item {
  display: flex;
  margin-left: 100px;
  align-items: center; /* Align image and text vertically */
  gap: 10px; /* Space between image and text */
}

.social-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Optional: Make icons circular */
  object-fit: cover; /* Ensure proper scaling */
}

.social-text {
  text-decoration: none;
  color: #ffffff; /* Black text color */
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.social-text:hover {
  color: #0073e6; /* Change color on hover */
}
