.work{
  text-align: center;
  margin-top: 90px;
  margin-bottom: 70px;
}



/* General Gallery Styles */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    margin: 20px;
  }
  
  /* Video Card Styles */


  .video-card {
    width: 45%;
    max-width: 400px;
    text-align: center;
    background-color:#a6eaaf;
    border: 1px solid #073700;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .video-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  
  /* Thumbnail Styles */
  .thumbnail {
    width: 100%;
    border-radius: 2px;
    cursor: pointer;
  }
  
  /* Title Styles */
  .title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .video-card {
      width: 90%;
    }
  }
  